srv1/.ssh
srv1/mnt/archive
srv1/mnt/data
srv2/.ssh
srv2/mnt/archive
srv2/mnt/data
srv2/mnt/data_temp
fin/mnt/data
pgadmin/azurecredentialcache
pgadmin/sessions
.venv
**/__pycache__
tools/data/*.csv
**/.DS_Store
.nicegui
